<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Mongo"/>
    <add assembly="NLog.Web"/>
  </extensions>

  <targets>

    <target xsi:type="Mongo"
        name="WebAPILog_DEV"
        connectionString="mongodb://localhost/WebAPILog_DEV"
        collectionName="Log"
        cappedCollectionSize="26214400">
      <property name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <property name="ThreadName" layout="${threadname}" />
      <property name="ProcessID" layout="${processid}" bsonType="Int32" />
      <property name="ProcessName" layout="${processname:fullName=true}" />
      <property name ="RequestVar" layout ="${aspnet-Request}"/>
      <property name ="UserName" layout="${aspnet-User-Identity} "/>
      <property name ="RequestVar1" layout ="${aspnet-MVC-Action}" />
      <property name ="RequestVar2" layout ="${aspnet-MVC-Controller}" />
      <property name ="RequestVar4" layout ="${aspnet-Item}" />
      <property name ="RequestVar5" layout ="${aspnet-TraceIdentifier}" />
      <property name ="RequestVar6" layout ="${aspnet-Request}" />
      <property name ="RequestVar7" layout ="${aspnet-Request-Cookie}" />
      <property name ="RequestVar8" layout ="${aspnet-Request-Host}" />
      <property name ="RequestVar9" layout ="${aspnet-Request-Method}" />
      <property name ="RequestVar10" layout ="${aspnet-Request-QueryString}" />
      <property name ="RequestVar11" layout ="${aspnet-Request-Referrer}" />
      <property name ="RequestVar12" layout ="${aspnet-Request-UserAgent}" />
      <property name ="RequestVar13" layout ="${aspnet-Request-Url}" />
      <property name ="RequestVar14" layout ="${aspnet-Session}" />
      <property name ="RequestVar15" layout ="${aspnet-SessionId}" />
      <property name ="RequestVar16" layout ="${aspnet-User-AuthType}" />
      <property name ="RequestVar17" layout ="${aspnet-User-Identity}" />
      <property name ="RequestVar18" layout ="${iis-site-name}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="WebAPILog_DEV" />
  </rules>
</nlog>
